body
{
background: #267
}
#div1111
{
font-size: 30px;
}
h1
{
font-size:15px;
}
h4
{
color: white;
}
h5
{
color: white;
}
h7
{
color: white;
}
h3
{
    color: white;
}
#dudiv
{
text-align: left;
}
#dediv
{
    text-align: right;
}
.webcam
{
text-align: left;
}
.result
{
    text-align: right;
}
.webcam1
{
    text-align: left;
}
.result1
{
    text-align: right;
}
